<h2> 
  Weekly analyst of your store
  <a href='{{vendor_root_url}}'> {{ vendor_name }}</a>
</h2>
<div>
  {{diff_orders_count }} from the previous week
</div>
<p><a href='{{operator_analytics_url}}'>Watch all analytics</a></p>