Hello {{member_name}}.
<br>
<br>
Your SMS balance is approaching the shutdown threshold. <br>Balance: {{sms_count}} pieces.
<br><br>
You can buy more SMS. Follow the link <a href='{{operator_billing_url}}'>{{operator_billing_url}}</a>
