Hello, {{member_name}}!
<br><br>
Your store {{vendor_name}} will soon be transferred to the archive. Pay the publication to avoid this.
<br><br>
You can pay by the link <a href='{{operator_billing_url}}'>{{operator_billing_url}}</a>
