<h2> 
  Еженедельная аналитика по магазину
  <a href='{{vendor_root_url}}'> {{ vendor_name }}</a>
</h2>
<div>
  {{diff_orders_count }} за прошлую неделю по сравнению с предыдущей
</div>
<p><a href='{{operator_analytics_url}}'>Смотреть всю аналитику</a></p>