Здравствуйте, {{member_name}}!
<br><br>
Ваш магазин {{vendor_name}} в скором времени будет перенесен в архив. Чтобы этого не произошло, оплатите публикацию.
<br><br>Оплатить можно по ссылке <a href='{{operator_billing_url}}'>{{operator_billing_url}}</a>
