Здравствуйте, {{member_name}}.
<br><br>
Ваш SMS баланс приближается к порогу отключения. <br>Остаток: {{sms_count}} штук.
<br><br>
Купить еще SMS можно по ссылке <a href='{{operator_billing_url}}'>{{operator_billing_url}}</a>
